# CODEOWNERS: https://help.github.com/articles/about-codeowners/

*       @AdityaSripal @gjermundgaraba @srdtrk @DeshErBojhaa
/docs/  @womensrights

# Our appreciation and gratitude to past code owners: @fedekunze @seantking @tmsdkeys @charleenfei @crodriguezvega @colin-axner @chatton @bznein @DimitrisJim @damiannolan
