name: Callbacks Module
# This workflow runs when a PR is opened that targets code that is part of the callbacks module.
on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: depot-ubuntu-22.04-4
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: golangci/golangci-lint-action@v6.5.0
        with:
          version: v1.62
          only-new-issues: true
          args: --timeout 5m
          working-directory: modules/apps/callbacks

  build:
    runs-on: depot-ubuntu-22.04-4
    strategy:
      matrix:
        go-arch: ['amd64', 'arm64']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Build callbacks-module
        run: |
          cd modules/apps/callbacks
          GOARCH=${{ matrix.go-arch }} go build ./...

  tests:
    runs-on: depot-ubuntu-22.04-4
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Go Test
        run: |
          cd modules/apps/callbacks
          go test -v -mod=readonly ./... -coverprofile=coverage.out

  code-analysis:
    if: github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]'
    runs-on: depot-ubuntu-22.04-4
    needs: [tests]
    steps:
      - name: sonarcloud
        if: ${{ env.GIT_DIFF && !github.event.pull_request.draft && env.SONAR_TOKEN != null }}
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: modules/apps/callbacks/
