name: Docker Build & Push Simapp (main)
# Build & Push builds the simapp docker image on every push to main and
# and pushes the image to https://ghcr.io/cosmos/ibc-go-simd
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docker.yml'
      - '**.go'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ibc-go-simd

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
      with:
        images: ${{ env.REGISTRY }}/cosmos/${{ env.IMAGE_NAME }}

    - name: Build Docker image
      uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
      with:
        context: .
        tags: ${{ steps.meta.outputs.tags }}
        build-args: |
          version="$(scripts/get-libwasm-version.py --get-version)"
          checksum="$(scripts/get-libwasm-version.py --get-checksum)"

          IBC_GO_VERSION=main

    - name: Test simd is runnable
      run: |
        docker run --rm ${{ steps.meta.outputs.tags }}
    - name: Log in to the Container registry
      uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push Docker image
      uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        build-args: |
          version="$(scripts/get-libwasm-version.py --get-version)"
          checksum="$(scripts/get-libwasm-version.py --get-checksum)"

          IBC_GO_VERSION=main
