name: Docker Base
on:
  push:
    paths:
    - 'Dockerfile.base'


# We avoid complex tags by always using the latest tag for the base image.
# That will work beccause we only build this when we want to change the base image used.

jobs:
        docker:
          runs-on: ubuntu-latest
          steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.repository_owner }}
                password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build and push
              uses: docker/build-push-action@v5
              with:
                file: ./Dockerfile.base
                platforms: linux/amd64,linux/arm64
                push: true
                tags: |
                  ghcr.io/cosmos/ibc-go/base-docker:latest 
            
