name: Tests / E2E Fork
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'LICENSE'

# cancel workflows if a new one is triggered on the same branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  # dynamically build a matrix of test/test suite pairs to run
  build-test-matrix:
    # run this job on forks and copies of ibc-go, for example: a public fork or a private copy of ibc-go.
    if: ${{ github.repository != 'cosmos/ibc-go' || github.event.pull_request.head.repo.fork || github.actor == 'dependabot[bot]' || github.event_name == 'workflow_dispatch' }}
    runs-on: depot-ubuntu-22.04-4
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - id: set-matrix
        run: |
          output=$(go run cmd/build_test_matrix/main.go)
          echo "matrix=$output" >> $GITHUB_OUTPUT
        env:
          TEST_EXCLUSIONS: 'TestUpgradeTestSuite'

  e2e-fork:
    env:
      CHAIN_A_TAG: latest
      CHAIN_B_TAG: latest
      CHAIN_IMAGE: ibc-go-simd
      FORK: "true"
    # run this job on forks and copies of ibc-go, for example: a public fork or a private copy of ibc-go.
    if: ${{ github.repository != 'cosmos/ibc-go' || github.event.pull_request.head.repo.fork || github.actor == 'dependabot[bot]' || github.event_name == 'workflow_dispatch' }}
    needs:
      - build-test-matrix
    runs-on: depot-ubuntu-22.04-4
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.build-test-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - name: Docker Build
        run: docker build . -t "${CHAIN_IMAGE}:${CHAIN_A_TAG}" --build-arg IBC_GO_VERSION=latest
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache-dependency-path: 'e2e/go.sum'
      - name: Run e2e Test
        run: |
          cd e2e
          make e2e-test test=${{ matrix.test }}
