on:
  workflow_call:
    inputs:
      test-file:
        description: 'The test file'
        required: true
        type: string
      test-chain:
        description: 'The chain name chain-a or chain-b'
        required: true
        type: string
      release-version:
        description: 'the release tag, e.g. release-v7.3.0'
        required: true
        type: string

jobs:
  load-test-matrix:
    outputs:
      test-matrix: ${{ steps.set-test-matrix.outputs.test-matrix }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run:
          pip install -r requirements.txt
      - uses: andstor/file-existence-action@v2
        with:
          files: '.github/compatibility-test-matrices/${{ inputs.test-file-directory }}/${{ inputs.test-suite }}.json'
      - run: |
          # use jq -c to compact the full json contents into a single line. This is required when using the json body
          # to create the matrix in the following job.
          test_matrix="$(python scripts/generate-compatibility-json.py --file ${{ inputs.test-file }} --release-version ${{ inputs.release-version)"
          echo "test-matrix=$test_matrix" >> $GITHUB_OUTPUT
        id: set-test-matrix

  e2e:
    runs-on: ubuntu-latest
    needs: load-test-matrix
    # this job is skipped if the test-matrix generated is empty. i.e. if the file was not present.
    # this allows us to not have to handle special case versions which may not have certain tests run against them.
    if: needs.load-test-matrix.outputs.test-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.load-test-matrix.outputs.test-matrix) }}
    steps:
      - name: Checkout the ibc-go repo
        uses: actions/checkout@v4
        with:
          repository: cosmos/ibc-go
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Run e2e Test
        run: |
          cd e2e
          make e2e-test test=${{ matrix.test }}
        env:
          # each test has its own set of variables to specify which images are used.
          # Note: this is significant as the standard behaviour when running e2es on PRs
          # is that there is a set of env vars that are the same for each run. e.g. the same docker image is used
          # for every test. With compatibility tests, each test may be running different combinations of images.
          CHAIN_IMAGE: 'ghcr.io/cosmos/ibc-go-simd'
          CHAIN_A_TAG: '${{ matrix.chain-a }}'
          CHAIN_B_TAG: '${{ matrix.chain-b }}'
          CHAIN_BINARY: 'simd'
          RELAYER_ID: '${{ matrix.relayer-type }}'
      - name: Upload Diagnostics
        uses: actions/upload-artifact@v3
        # we only want to upload logs on test failures.
        if: ${{ failure() }}
        continue-on-error: true
        with:
          name: '${{ matrix.entrypoint }}-${{ matrix.test }}'
          path: e2e/diagnostics
          retention-days: 5
