name: Manual E2E (Simd)
on:
  # when https://github.com/community/community/discussions/11795 is resolved
  # we will be able to dynamically build up the list of valid inputs.
  # for now this needs to be manual.
  workflow_dispatch:
    inputs:
      test-entry-point:
        description: 'Test entry point'
        required: true
        type: choice
        options:
          - TestTransferTestSuite
          - TestIncentivizedTransferTestSuite
          - TestConnectionTestSuite
          - TestInterchainAccountsTestSuite
          - TestInterchainAccountsGroupsTestSuite
          - TestInterchainAccountsGovTestSuite
          - TestIncentivizedInterchainAccountsTestSuite
          - TestAuthzTransferTestSuite
      chain-image:
        description: 'The image to use for chain A'
        required: true
        type: string
        default: "ghcr.io/cosmos/ibc-go-simd"
      chain-a-tag:
        description: 'The tag to use for chain A'
        required: true
        type: choice
        default: main
        options:
          - main
          - v10.0.0
          - v8.5.0
          - v8.4.0
          - v7.7.0
          - v7.6.0
          - v7.5.0
          - v7.4.0
      chain-a-tag-override:
        description: 'Specify an arbitrary tag for chain A'
        required: false
        type: string
      chain-b-tag:
        default: v8.4.0
        description: 'The tag to use for chain B'
        required: true
        type: choice
        options:
          - main
          - v10.0.0
          - v8.5.0
          - v8.4.0
          - v7.7.0
          - v7.6.0
          - v7.5.0
          - v7.4.0
      chain-b-tag-override:
        description: 'Specify an arbitrary tag for chain B'
        required: false
        type: string

jobs:
  e2e-manual:
    uses: ./.github/workflows/e2e-test-workflow-call.yml
    with:
      chain-image: "${{ github.event.inputs.chain-image }}"
      chain-a-tag: "${{ github.event.inputs.chain-a-tag-override || github.event.inputs.chain-a-tag }}"
      chain-b-tag: "${{ github.event.inputs.chain-b-tag-override || github.event.inputs.chain-b-tag }}"
      test-entry-point:  "${{ github.event.inputs.test-entry-point }}"
