name: Tests / E2E Upgrade
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      # upgrade tests will run on any changes to the upgrade_test.go file,
      # and changes to the workflow itself.
      - 'e2e/tests/upgrades/*.go'
      - '.github/workflows/e2e-upgrade.yaml'
  schedule:
    - cron: '0 0 * * *'

jobs:
  upgrade-v7:
    uses: ./.github/workflows/e2e-test-workflow-call.yml
    with:
      chain-image: ghcr.io/cosmos/ibc-go-simd
      chain-a-tag: v6.1.0
      chain-b-tag: v6.1.0
      upgrade-plan-name: "v7"
      test-entry-point:  "TestUpgradeTestSuite"
      test: "TestV6ToV7ChainUpgrade"
      upload-logs: true

  upgrade-v7_1:
    uses: ./.github/workflows/e2e-test-workflow-call.yml
    with:
      chain-image: ghcr.io/cosmos/ibc-go-simd
      chain-a-tag: v7.0.0
      chain-b-tag: v7.0.0
      upgrade-plan-name: "v7.1"
      test-entry-point:  "TestUpgradeTestSuite"
      test: "TestV7ToV7_1ChainUpgrade"
      upload-logs: true

  upgrade-v8:
    uses: ./.github/workflows/e2e-test-workflow-call.yml
    with:
      chain-image: ghcr.io/cosmos/ibc-go-simd
      chain-a-tag: v7.10.0
      chain-b-tag: v7.10.0
      upgrade-plan-name: "v8"
      test-entry-point:  "TestUpgradeTestSuite"
      test: "TestV7ToV8ChainUpgrade"
      upload-logs: true

  upgrade-v8_1:
    uses: ./.github/workflows/e2e-test-workflow-call.yml
    with:
      chain-image: ghcr.io/cosmos/ibc-go-simd
      chain-a-tag: v8.0.0
      chain-b-tag: v8.0.0
      upgrade-plan-name: "v8.1"
      test-entry-point:  "TestUpgradeTestSuite"
      test: "TestV8ToV8_1ChainUpgrade"
      upload-logs: true

  upgrade-v10:
    uses: ./.github/workflows/e2e-test-workflow-call.yml
    with:
      chain-image: ghcr.io/cosmos/ibc-go-simd
      chain-a-tag: v8.7.0
      chain-b-tag: v8.7.0
      upgrade-plan-name: "v10"
      test-entry-point:  "TestUpgradeTestSuite"
      test: "TestV8ToV10ChainUpgrade"
      upload-logs: true

  upgrade-v10-localhost:
    uses: ./.github/workflows/e2e-test-workflow-call.yml
    with:
      chain-image: ghcr.io/cosmos/ibc-go-simd
      chain-a-tag: v8.7.0
      chain-b-tag: v8.7.0
      upgrade-plan-name: "v10"
      test-entry-point:  "TestUpgradeTestSuite"
      test: "TestV8ToV10ChainUpgrade_Localhost"
      upload-logs: true

