name: E2E Unit tests/Lint.
# This workflow runs when a PR is opened that targets code that is part of the e2e module.
on:
  merge_group:
  pull_request:
    paths:
      - '.github/workflows/e2emodule.yml'
      - 'e2e/**'

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: depot-ubuntu-22.04-4
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache-dependency-path: 'e2e/go.sum'
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: golangci/golangci-lint-action@v6.5.0
        with:
          version: v1.62
          only-new-issues: true
          args: --timeout 5m
          working-directory: e2e/

  tests:
    runs-on: depot-ubuntu-22.04-4
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache-dependency-path: 'e2e/go.sum'
      - name: Go Test
        run: |
          cd e2e
          go test -v -mod=readonly ./... -tags='test_e2e'
