name: E2E Module
# This workflow runs when a PR is opened that targets code that is part of the e2e module.
on:
  pull_request:
    paths:
      - '.github/workflows/e2emodule.yml'
      - 'e2e/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - uses: actions/checkout@v4
      - uses: golangci/golangci-lint-action@v4.0.0
        with:
          version: v1.54.2
          args: --timeout 5m
          working-directory: e2e/

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Go Test
        run: |
          cd e2e
          go test -v -mod=readonly ./... -tags='test_e2e'