name: Build Wasm Docker Simapp

on:
  workflow_dispatch:
    inputs:
      docker_tag:
        description: 'The docker tag for the wasm image'
        required: true
        type: string
      branch:
        description: 'Branch to build from'
        required: true
        type: choice
        options:
          - "08-wasm/release/v0.4.x+ibc-go-v7.4.x-wasmvm-v1.5.x"
          - "08-wasm/release/v0.5.x+ibc-go-v8.4.x-wasmvm-v2.1.x"
          - "08-wasm/release/v0.6.x+ibc-go-v10.0.x-wasmvm-v2.2.x"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ibc-go-wasm-simd
  ORG: cosmos
  DOCKER_TAG: "${{ github.event.inputs.docker_tag }}"

jobs:
  publish-docker-image-wasm:
    runs-on: depot-ubuntu-22.04-4
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "${{ github.event.inputs.branch }}"
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: make python-install-deps
      - name: Log in to the Container registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image
        run: |
          # remove any `/` characters from the docker tag and replace them with a -
          
          version="$(scripts/get-libwasm-version.py --get-version)"
          checksum="$(scripts/get-libwasm-version.py --get-checksum)"
          
          docker build . -t "${REGISTRY}/${ORG}/${IMAGE_NAME}:${DOCKER_TAG}" -f modules/light-clients/08-wasm/Dockerfile --build-arg LIBWASM_VERSION=${version} --build-arg LIBWASM_CHECKSUM=${checksum}
          docker push "${REGISTRY}/${ORG}/${IMAGE_NAME}:${DOCKER_TAG}"
