name: Spell Check

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: "0 12 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install codespell
        run: pip install codespell
      - name: Run codespell
        continue-on-error: ${{ github.event_name != 'pull_request' }}
        run: codespell -w --skip="*.pb.go,*.pb.gw.go,*.json,*.git,*.js,*.h,*.bin,go.sum,go.mod,*.pdf,*.tla" --ignore-words=.github/.codespellignore --check-hidden
      - uses: peter-evans/create-pull-request@v7
        if: github.event_name != 'pull_request'
        with:
          commit-message: "chore: spelling errors fixes"
          title: "chore: fix spelling errors"
          branch: "bot/fix-typos"
          delete-branch: true
          body: |
            This PR fixes typos in the codebase.
            Please review it, and merge if everything is fine.
            If there are proto changes, run `make proto-all` and commit the changes.
