name: Wasm Light-Client
# This workflow runs when a PR is opened that targets code that is part of the wasm light-client.
on:
  merge_group:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: depot-ubuntu-22.04-4
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: v2.0
          only-new-issues: true
          args: --timeout 10m
          working-directory: modules/light-clients/08-wasm

  build:
    runs-on: depot-ubuntu-22.04-4
    strategy:
      matrix:
        go-arch: ['amd64', 'arm64']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      # Install cross compiler for ARM64. Export CC env variable.
      - name: Install compiler for arm64.
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu build-essential
          echo "CC=aarch64-linux-gnu-gcc" >> $GITHUB_ENV
        if: matrix.go-arch == 'arm64'
      - name: Build wasm-client
        run: |
          cd modules/light-clients/08-wasm
          GOARCH=${{ matrix.go-arch }} CGO_ENABLED=1 go build ./...

  tests:
    runs-on: depot-ubuntu-22.04-4
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - name: Go Test
        run: |
          cd modules/light-clients/08-wasm
          go test -v -mod=readonly ./... -coverprofile=coverage.out

  code-analysis:
    if: github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]'
    runs-on: depot-ubuntu-22.04-4
    needs: [tests]
    steps:
      - name: sonarcloud
        if: ${{ env.GIT_DIFF && !github.event.pull_request.draft && env.SONAR_TOKEN != null }}
        uses: SonarSource/sonarqube-scan-action@v5.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: modules/light-clients/08-wasm/
